.app-header {
	background-color: #ffe600;
	display: flex;
	justify-content: center;
}

.app-header-container {
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
	align-items: stretch;
	align-content: center;
	padding: 10px;
	width: 80%;
}